
body {
  font-family: Roboto, Arial;
  background-color: rgb(250, 250, 250);
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 95px;
  padding-right: 24px;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}
