
.header {
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  z-index: 100;

  display: flex;
  justify-content: space-between;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
  height: 55px;
}

.header-left {
  display: flex;
  align-items: center;
}

.humburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;
}

.header-middle {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 500px;
  margin-left: 50px;
  margin-right: 30px;
}

.search-bar {
  font-size: 16px;
  padding-left: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  flex: 1;
  width: 0;
  height: 36px;
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-btn {
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  height: 40px;
  width: 66px;
  margin-left: -2px;
  margin-right: 10px;
}

.search-btn, 
.voice-search-btn, 
.upload-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.search-btn .tooltip,
.voice-search-btn .tooltip,
.upload-icon-container .tooltip {
  position: absolute;
  bottom: -30px;

  background-color: rgba(101, 100, 100, 0.8);
  opacity: 0;
  font-family: Roboto, Arial;
  font-size: 12px;
  color: white;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-btn:hover .tooltip,
.voice-search-btn:hover .tooltip,
.upload-icon-container:hover .tooltip {
  opacity: 1;
}

.search-icon {
  width: 25px;
}

.voice-search-btn {
  background-color: rgb(248, 248, 248);
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 40px;
}

.voice-search-icon {
  height: 24px;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  flex-shrink: 0;
  margin-right: 25px;
}

.youtube-apps-icon {
  height: 24px;
}

.upload-icon {
  height: 24px;
}

.notifications-container {
  position: relative;
}

.notifications-icon {
  height: 24px;
}

.notifications-count {
  position: absolute;
  top: -2px;
  right: -7px;

  background-color: rgb(195, 31, 31);
  font-family: Roboto, Arial;
  font-size: 10px;
  color: white;

  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4.8px;
  padding-right: 4.8px;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 9px;
}

.current-user-icon {
  height: 32px;
  border-radius: 16px;
}
