
.header {
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  z-index: 100;

  display: flex;
  justify-content: space-between;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
  height: 55px;
}

.header-left {
  display: flex;
  align-items: center;
}

.humburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;
}

.header-middle {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 500px;
  margin-left: 50px;
  margin-right: 30px;
}

.search-bar {
  font-size: 16px;
  padding-left: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  flex: 1;
  width: 0;
  height: 36px;
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-btn {
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  height: 40px;
  width: 66px;
  margin-left: -2px;
  margin-right: 10px;
}

.search-icon {
  width: 25px;
  margin-top: 4px;
}

.voice-search-btn {
  background-color: rgb(248, 248, 248);
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 40px;
}

.voice-search-icon {
  height: 24px;
  margin-top: 4px;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  flex-shrink: 0;
  margin-right: 25px;
}

.youtube-apps-icon {
  height: 24px;
}

.upload-icon {
  height: 24px;
}

.notifications-icon {
  height: 24px;
}

.current-user-icon {
  height: 32px;
  border-radius: 16px;
}
