
.header {
  display: flex;
  justify-content: space-between;
  height: 55px;
}

.header-left {
  width: 150px;
}

.header-middle {
  flex: 1;
  max-width: 500px;
  margin-left: 50px;
  margin-right: 30px;
}

.header-right {
  width: 230px;
}

.search-bar {
}
