
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
}

.video-preview {
}

.thumbnail-row {
  margin-bottom: 12px;
}

.thumbnail {
  width: 100%;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-channel {
}

.channel-picture {
  border-radius: 30px;
  width: 40px;
}

.video-info {
}

.video-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.video-author {
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-top: 12px;
}

.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-top: 4px;
}
