
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-preview {
}

.thumbnail-row {
  position: relative;
  margin-bottom: 8px;
}

.video-time {
  position: absolute;
  bottom: 8px;
  right: 5px;

  background-color: black;
  color: white;
  font-size: 13px;
  font-weight: 500;

  padding: 4px;
  border-radius: 2px;
}

.thumbnail {
  width: 100%;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-channel {
}

.channel-picture {
  border-radius: 30px;
  width: 36px;
}

.video-info {
}

.video-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.video-author {
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-top: 10px;
}

.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-top: 4px;
}
